torch
lightning
safetensors
huggingface_hub
tqdm
pyyaml
typing-extensions
sentencepiece
tiktoken
transformers

scipy
numpy
pandas
datasets
torchmetrics
matplotlib
hf_transfer

bitsandbytes 
accelerate
seaborn

evaluate 
bert_score 
rouge_score 
nltk 
sacrebleu
scikit-learn

sacrebleu
sentence-transformers
google-generativeai
dotenv
umap-learn

bleurt
moverscore
unbabel-comet
google-generativeai
pyemd
pytorch_pretrained_bert